@media screen and (min-width: 992px) {
	.only-mobile {
		display: none;
	}
	.banner-video .col-12 {
	    padding: 0;
	}
	.banner-video {
		padding: 0;
	}
	.table-list {
	    width: 100%;
	    height: 329px;
	    overflow: auto;
	}
	.table-list::-webkit-scrollbar {
	  width: 10px;               /* width of the entire scrollbar */
	}

	.table-list::-webkit-scrollbar-track {
	  background: orange;        /* color of the tracking area */
	}

	.table-list::-webkit-scrollbar-thumb {
	  background-color: #fff;    /* color of the scroll thumb */
	  border-radius: 20px;       /* roundness of the scroll thumb */
	  border: 3px solid orange;  /* creates padding around scroll thumb */
	}
	.advitisment-outer{
	    background-image: url('../images/advertisment/bg.jpg');
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	}
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
	.navbar-collapse.header-desktop .nav-link {
	    display: block;
	    padding: 0.5rem 0.5rem;
	    font-size: 14px!important;
	    color: #101531!important;
	    letter-spacing: 0.5px;
	}
	.inspection-content h1 {
		font-size: 32px;
	}
}
@media screen and (max-width: 991px) {
	.only-desktop {
		display: none;
	}
	.navbar-brands-mobile {
	    width: 100%;
	    max-width: 70px;
	    height: 100%;
	    display: block;
	}
	.navbar-brands-mobile img {
	    width: 100%;
	    height: 100%;
	}
	.banner-video {
		margin-top: 0;
		height: 100%;
	}
	header.only-mobile.bg-light {
		background-color: #fff!important;
	}
	.navbar-light .navbar-nav .nav-link {
	    display: flex;
	    justify-content: space-between;
	}
	.dropdown-menu.show {
	    border: 1px solid #e9ecef;
	    border-radius: 0px;
	    margin: 5px 0 15px 0;
	}
	.dropdown-menu .dropdown-submenu {
	    display: none;
	    position: absolute;
	    left: 0;
	    top: 40px;
	    transition: 0.5s;
	}
	.dropdown-item {
	    padding: 0.55rem 0.5rem;
	    font-size: 15px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	}
}
@media screen and (max-width: 767px) {
	.banner-content {
	    width: 100%;
	    height: 100%;
	    padding: 70px 0;
	    margin: 0;
	    text-align: center;
	}
	.banner-content h2 {
		font-size: 35px;
	}
	.banner-content p {
	    font-size: 18px;
	    color: #ffffff;
	    margin-bottom: 25px;
	    display: block;
	    padding: 0 50px;
	}
	.padding-right {
		padding-right: 15px!important;
		margin-bottom: 15px;
	}
	.padding-left {
		padding-left: 15px!important;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.wrapper-content {
	    height: 100%;
	}
	.advitisment-outer {
	    width: 100%;
	    height: 100%;
	    padding: 30px 0;
	    margin: 0;
	    display: block;
	}
	.david-mcbride {
	    font-size: 13px;
	    font-weight: 500;
	    color: #ffd90d;
	    margin-bottom: 2px;
	}
	.inspection-content h1 {
	    font-size: 32px;
	    margin-top: 30px;
	}
	.home-inspection-s {
	    font-size: 12px;
	    font-weight: 400;
	    color: #333;
	}
	.Huntsville {
	    width: 100%;
	    min-height: 55px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 14px;
	}
	div#footer-info {
	    text-transform: capitalize;
	    font-size: 14px;
	}
	.dropdown-menu {
		width: 100%;
	}

}
